[submodule "HAP-NodeJS"]
	path = HAP-NodeJS
	url = https://github.com/Project-Shutdown/HAP-NodeJS
[submodule "Shutdown-Server"]
	path = Shutdown-Server
	url = https://github.com/Project-Shutdown/Shutdown-Server
